@import "@styles/variable.scss";

.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;

    &.darkMode {
        transition: all 0s ease-in;
        background-color: $black-700;
        color: $white;
    }

    .progressBar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 2.5px;
        background: $pink-pressed;
        transform-origin: 0%;
        z-index: 30;
    }

    .body {
        padding-top: 86px;
        //padding: 86px 30px 100px 30px;
        // display: grid;
        height: 100%;
        width: 100%;

        @include TABLET {
            // width: 768px;
        }

        @include MOBILE {
            // width: 600px;
        }
    }
}
