@import "variable.scss";
@import "react-toastify/dist/ReactToastify.css";

.Toastify__toast-container {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: $blue-600;
  --toastify-color-success: $green-default;
  --toastify-color-warning: $orangeCinamon;
  --toastify-color-error: $pink-default;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: $Pretendard;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  // Used when no type is provided
  // toast("**hello**")
  --toastify-color-progress-light: linear-gradient(
                  to right,
                  #4cd964,
                  #5ac8fa,
                  #007aff,
                  #34aadc,
                  #5856d6,
                  #ff2d55
  );
  // Used when no type is provided
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  // used to control the opacity of the progress trail
  --toastify-color-progress-bgo: .2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  line-height: 1.3;
  font-family: $Pretendard;
  user-select: none;
}

body {
  font-family: $Pretendard;
  font-size: $large-font;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  user-select: none;
}

//스크롤
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: $green-hover;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

#lightMode {
  background-color: $white;
  color: $black-700;
  transition: all 0s ease-in;
}

#darkMode {
  background-color: $black-700;
  color: $white;
  transition: all 0s ease-in;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 20px !important;
  color: black !important;
  opacity: 0.4;
  height: 100px !important;
  font-weight: 900;

  &:hover {
    opacity: 1;
  }
}

.swiper-pagination-bullet-active {
  background-color: $orangeCinamon !important;
}

#bottomSlide {
  width: 550px !important;
}

.swiper-pagination {
  bottom: 5px !important;
}