@use "sass:math";

// 폰트
$Pretendard: "Pretendard";

$orangeCinamon: #D2691E;
$creamWhite: #FFFDD0;

// color kit
$black-900: #171717;
$black-800: #2f2f2f;
$black-700: #525259;
$black-600: #727279;
$black-500: #929299;
$black-400: #c1c1c9;
$black-300: #dadadf;
$black-200: #e7e7ea;
$black-100: #f1f1f2;
$black-50: #f6f6fa;

$white: #ffffff;

$blue-800: #3857bd;
$blue-600: #4a74fc;
$blue-400: #b7c7fe;
$blue-200: #edf1ff;

$cloud: #aab4dc;

$green-default: #00b594;
$green-disable: #b4ccc8;
$green-hover: #49c8ab;
$green-pressed: #158b71;

$pink-default: #eb308f;
$pink-disable: #f7acd2;
$pink-hover: #f383bc;
$pink-pressed: #b024d6;
$pink-ligthen: #b969d1;

$purple: #9e85da;
$green: #6ac6a0;
$blue: #6297e8;
$yellow: #ffe600;
$yellow-light: #fff6b5;

$bg-purple: #f1eaff;
$tx-purple: #854bff;
$bg-green: #e1f7f2;
$tx-green: #00987c;
$bg-blue: #e8f5ff;
$tx-blue: #0093ff;
$bg-orange: #fff0d9;
$tx-orange: #ff7f00;
$bg-pink: #fff0f8;

//기준 크기
//$global-width: 460px;

//폰트 사이즈
$xx-small-font: 12px;
$x-small-font: 14px;
$small-font: 16px;
$medium-font: 18px;
$large-font: 20px;
$x-large-font: 24px;
$xx-large-font: 28px;
$xxx-large-font: 42px;
$xxxx-large-font: 64px;

// shadow
$shadow: 0 3px 10px rgba(37, 58, 106, 0.1);
$blue-shadow: 0 4px 10px rgba(37, 58, 106, 0.1);
$bottom-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);

// 전역변수 설정
$breakpoint-miniMobile: 400px;
$breakpoint-mobile: 600px;
$breakpoint-tablet: 768px;

// 폰트굵기
$regular: 450;
$medium: 540;
$semi: 630;
$bold: 730;

// 모바일 브레이크포인트
@mixin S_MOBILE {
  @media (max-width: #{$breakpoint-miniMobile}) {
    @content;
  }
}

@mixin MOBILE {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin TABLET {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}